<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Information</title>
</head>
<body>
    <p1>People voteing information</p1>
    <table>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Place</th>
          <th>Eligible for vote</th>
        </tr>
        {% for people in peoples %}
            <tr>
                <td>{{people.Name}}</td>
                <td>{{people.Age}}</td>
                <td>{{people.Place}}</td>
                <td>
                {% if people.Age >= 18 %} 👍 {% else %} 👎 {% endif %}
                </td>
            </tr>
        {% endfor %}
      </table>
</body>
</html>